<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand" href="./index.html"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about.html">About</a></li>
        <li><a href="members.html">Members</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <!-- <li class="icon"><a href="https://www.facebook.com/pages/CU-Liberty-in-North-Korea-LiNK/156461214445282" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li class="icon"><a href="mailto:culibertyinnk@gmail.com"><i class="fa fa-envelope"></i></a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>