---
title: CU LiNK | About Us
---
<div id="about">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Formerly known as "Students for North Korean Awareness," CU LiNK aims to disseminate knowledge about the current situation in North Korea.</h1>
          <!-- <h2>Providing relief to & raising awareness about North Korean refugees.</h2> -->
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
  <div class="row">
    <div class="col-md-8">
      <b>
        <p>In 2004, Columbia students joined the international response to the food shortage, refugee, and human rights crises in North Korea by forming the Columbia University chapter of <a href="http://http://www.libertyinnorthkorea.org/" target="_blank">Liberty in North Korea | LiNK</a>. Although LiNK changed its name to NKA in April 2007, as of 2010, we are now affiliated with LiNK again after recent changes in national LiNK policies allowing for more freedom within chapters.
        <p>Since 2004, Columbia students have participated in protests at the South Korean UN Mission in NYC, held teach-in's with high level North Korean defectors, showed screenings of documentaries highlighting the refugee crisis, presented lectures with former political/labor camp prisoners, and organized numerous fundraisers on the Columbia University campus. (All proceeds going to NGO's that ensure safe passage through China for refugees and rescue sexually trafficked North Korean women.)
      </b>
    </div>
    <div class="col-md-4">
      <img class="centered" src="img/logos/link_logo2.jpg">
    </div>
  </div><!-- row -->
</div><!-- container -->