---
title: CU LiNK | Contact Us
---

<div id="contact">
  <div class="container w centered">
    <div class="row">
      <a href="https://www.facebook.com/pages/CU-Liberty-in-North-Korea-LiNK/156461214445282" target="_blank">
        <div class="col-lg-4 dg">
            <h4>FACEBOOK</h4>
            <p><i class="fa fa-facebook"></i></p>
            <p>> Follow us on Facebook</p>
        </div>
      </a>
      <a href="http://lernerhall.columbia.edu/files/lerner/floorplans/lernerfloorplans_floor5rev.jpg" target="_blank">
        <div class="col-lg-4 lg">
            <h4>MEETING LOCATION</h4>
            <p><i class="fa fa-location-arrow"></i></p>
            <p>> Every Sunday 10-11 PM in Lerner 503</p>
        </div>
      </a><a href="mailto:culibertyinnk@gmail.com">
        <div class="col-lg-4 dg">
            <h4>EMAIL</h4>
            <p><i class="fa fa-envelope"></i></p>
            <p>> Email us with any questions</p>
        </div>
      </a>
    </div><!-- row -->
  </div><!-- container -->
</div>