---
title: CU LiNK | Contact Us
---

<div class="container w">
  <div class="row centered">
    <div class="col-sm-4">
      <p><a target="_blank" href="#"><i class="fa fa-location-arrow"></i></a></p>
      <span>London, England<br>zip code 98443</span>
    </div><!-- /col12 -->
    <div class="col-sm-4">
      <span>Find us on Facebook!</span>
      <p><a target="_blank" href="https://www.facebook.com/pages/CU-Liberty-in-North-Korea-LiNK/156461214445282"><i class="fa fa-facebook"></i></a></p>
    </div><!-- /col12 -->
    <div class="col-sm-4">
      <span>Any questions, comments, or suggestions?<br>Email us at culibertyinnk@gmail.com</span>
      <p><a href="mailto:culibertyinnk@gmail.com"><i class="fa fa-envelope"></i></a></p>
    </div><!-- /col12 -->
  </div><!-- /row -->
</div><!-- /container -->