---
title: CU Liberty in North Korea
---

<div id="preloadMain">
</div>

<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-md-8 col-md-offset-2">
				<h1><b>People</b>, NOT <b>POLITICS</b></h1>
  				<h2>Providing relief to & raising awareness about North Korean refugees.</h2>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
  <div id="thumbnail" class="row centered">
    <br><br>
    <div class="col-md-4">
      <img class="img-circle" src="img/main/about_icon.jpg" alt="About Us">
      <h3>Welcome to CU LiNK!</h3>
      <p>CU LiNK is Columbia University's chapter of <a href="http://www.libertyinnorthkorea.org/" target="_blank">Liberty in North Korea</a>. Our goal is to provide relief to & raise awareness about North Korean refugees. Click below to learn more about us.</p>
      <a href="./about.html" class="btn btn-danger">Read more...</a>
    </div><!-- col-lg-4 -->

    <div class="col-md-4">
      <img class="img-circle" src="img/main/events_icon.jpg" alt="Events">
      <h3>Events</h3>
      <p>Each semester, CU LiNK hosts about 4 events, including speaker panel, documentary screening, and fundraisers. Click below to stay informed about our upcoming events!</p>
      <a href="./events.html" class="btn btn-danger">Read more...</a>
    </div><!-- col-lg-4 -->

    <div class="col-md-4">
      <img class="img-circle" src="img/main/news_icon.jpg" alt="News">
      <h3>News</h3>
      <p>Each week, CU LiNK provides political update and current events regarding North Korea. Click the button below to stay updated with what is happening in North Korea.</p>
      <a href="./news.html" class="btn btn-danger">Read more...</a>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
</div><!-- container -->