---
title: News | CU Liberty in North Korea
---
<div id="fb-root"></div>
<div class="container w centered">
	<h1>News</h1>
	<div id="news">
	</div>
</div>

<% content_for :js do %>
	<script src="js/news.js"></script>
<% end %>