---
title: Photos | CU Liberty in North Korea
---

<div id="fb-root"></div>
<div class="container w centered">
	<div id="photos">
	</div>
</div>

<% content_for :body do %>
	<%= javascript_include_tag "photos" %>
<% end %>